<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= h(yield(:title) || "Untitled") %></title>
		<%= render :partial => '/admin/partials/header' %>
		<%= javascript_include_tag 'captify.js' %>
		<link rel="shortcut icon" href="/site_files/images/favicon.ico" />

		<%= yield(:head) %>

		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="container-fluid" style="padding-top: 10px">
			<div class="row-fluid">
				<div class="span12">
					<%- flash.each do |name, msg| -%>
						<div class="alert alert-<%= name %>" id="flash_<%= name %>">
							<button class="close" data-dismiss="alert" type="button">×</button>
							<%= msg %>
						</div>
					<%- end -%> 
					<%= yield %>
				</div>
			</div>
		</div>
		<script>
			$(function() {
				set_hidden_elements();
			});
		</script>
	</body>
</html>
