<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= h(yield(:title) || "Untitled") %></title>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
		<%= stylesheet_link_tag		"admin", :media => "all" %>
		<%= javascript_include_tag "admin" %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" href="/site_files/images/favicon.ico" />
		<%= yield(:head) %>
	</head>
	
	<body>
		<div class="container">
			<%= yield %>
	</body>
</html>
